# Для работы приложения требуется только стандартная библиотека Python
# Никаких дополнительных зависимостей!

# Python 3.6 или выше
# Требуются права суперпользователя (sudo)

# Проверьте наличие установленного Python:
# python3 --version

# Проверьте наличие SSH:
# which sshd